.sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--invert-bg-color);
  width: var(--siedebar-width);
  transition: width 0.3s ease-in-out;
}

.switchers {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-left: 12px;
}

.link {
  opacity: 1;
}

.item {
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--invert-primary-color);
  margin-right: 8px;
}

.collapsed {
  width: var(--siedebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: 0.1s opacity;
  }
}